.container {
    display: flex;
    /* justify-content: space-around; */
    /* justify-content: center; */
    text-align: center;
    /* align-items: center; */
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    overflow: hidden;
}

.leftContainer {
    width: 60%;
    height: 100%;
    background-color: #17A2B8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.circle{

    position: absolute;
    z-index: 1;
    top:50%;
    left:50%;
    transform: translate(-50%,-80%);
    opacity: 60%;
    
}

.LogoImage {
    opacity: 100%;
    z-index: 2;
    padding: 3rem;
}




.leftContainer p{
    font-weight: 600;
    color: #FFFFFF;
    font-size: 33px;
    z-index: 2;
    
}

.leftContainer span{
    font-weight: 400;
    font-size: 19px;
}

.rightContainer {
    width: 40%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.header {
    font-weight: 600;
    color: #343434;
    font-size: 33px;
    margin-bottom: 2rem;
}

.form {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}


.inputField {
    border: 1.38px solid #D0D0D0;
    width: 90%;
    height: 45px;
    border-radius: 11px;
    font-weight: 400;
    font-size: 20px;
    padding-left: 20px;
}

.submitButton {
    width: 100%;
    height: 45px;
    margin-top: 1rem;
    background-color: #17A2B8;
    border-radius: 55px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.submitButton:hover {
    background-color: #13879c;
}

.footer {
    width: 51%;

    /* padding: 1rem; */

}
.footer p {
    font-weight: 400;
    font-size: 20px;
    color: #828282;
    text-align: center;
    padding: 1rem;
}

.loginButton {
    border: 1.38px solid #17A2B8;
    width: 100%;
    border-radius: 55px;
    font-weight: 500;
    font-size: 20px;
    color: #17A2B8;
    background-color: #FFFFFF;
    height: 45px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.loginButton:hover {
    background-color: #17A2B8;
    color: #FFFFFF;
}

.inputContainer {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
  }
  
  .icon {
    position: absolute;
    left: 10px;
    color: #17A2B8; 
    font-size: 20px;
  }
  
  .inputField {
    width: 100%;
    padding-left: 35px; 
    height: 45px;
    border: 1.38px solid #D0D0D0;
    border-radius: 11px;
    font-size: 20px;
  }
  
  .error {
    color: #d45231;
    font-size: 14px;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 10%;
  }

  .eyeIcon {
    position: absolute;
    right: 10px;
    color: #17A2B8;
    font-size: 20px;
    cursor: pointer;
  }
  