.container {
    display: flex;
    /* justify-content: space-around; */
    /* justify-content: center; */
    text-align: center;
    /* align-items: center; */
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
}

.leftContainer {
    width: 60%;
    height: 100%;
    background-color: #17A2B8;
}

.rightContainer {
    width: 40%;
    height: 100%;
    background-color: #FFFFFF;
}