.boardPage {
    /* padding: 20px; */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .welcomeMessage {
    font-size: 24px;
    font-weight: 600;
  }
  
  .date {
    font-size: 16px;
    color: #707070;
  }
  
  .boardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  
  .boardTitle {
    display: flex;
    align-items: center;
  }
  
  .boardTitle h3 {
    font-size: 30px;
    font-weight: 500;
    margin-right: 10px;
  }
  
  .addPeopleButton {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #707070;
  }
  
  .addPeopleButton .icon {
    margin-right: 5px;
  }
  
  .filterDropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
  }
  
  .filterDropdown .icon {
    margin-left: 5px;
  }
  
  .columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;

    /* height: 100px; */
  }
  
  .column {
    background-color: #EEF2F5;
    border-radius: 10px;
    padding: 10px;
    height: 550px;
  }
  
  .columnHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .columnHeader h4 {
    font-size: 16px;
    font-weight: 500;
  }
  
  .addTaskButton {
    background-color: #f0f0f0;
    border: none;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .taskList {
    min-height: 100px;
  }
  
  .emptyMessage {
    font-size: 14px;
    color: #888;
    text-align: center;
    padding: 20px 0;
  }
  